<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Anek+Odia&family=Dancing+Script:wght@200&family=Exo+2:ital,wght@0,100;0,300;0,500;0,600;0,800;1,900&family=Titillium+Web:wght@200;300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/admindashboard.css">
    <link rel="icon" href="/static/images/png-transparent-retail-computer-icons-e-commerce-sales-mega-offer-miscellaneous-service-logo.png" type="image/x-icon">
    <title>NEXT-STORE</title>
</head>
<style>
    .second-container{
        background-color: #2eaa12;
        width: 80vw;
        height: 80vh;
    }
</style>
<body>
<!-- Container for seller page -->
<div class="market-container">

    <nav class="zone sticky topnav">
        <ul class="main-nav">
            <div><h1 class="logo"><a href="/" style="background-color: rgb(221,169,26); color: #000;">A D M I N - D A S H B O A R D</a></h1></div><h1 class="logo"></h1>

            <li><a href="/sellersignup" class="seller-sign-in">Admin</a> </li>
            <li><a href="/buyerssignup" class="buyer-sign-in">Sign up</a></li>
        </ul>
    </nav>
    </div>

</div>
<div class="second-container">
    <div class="container zone"><img style="height: 80%; width: 50%" src="/static/images/istockphoto-1140124099-170667a.jpeg" alt="" class="cover">
    <div class="notify"></div>
</div>


</div>








<!--<footer class="zone yellow footer"><p>&copy copyright 2022 TEAM B GOLAND SQUAD 10 STACK</p></footer>-->



</body>
</html>



